.chat-message {
    background-color: #c8e6c9; /* Jasnozielony odcień */
    padding: 0.6rem 1rem;
    border-radius: 8px;
    max-width: 70%;
    margin: 0.5rem 0;
}

.chat-message.user {
    background-color: #494f55; /* Średnia zieleń */
    color: white;
    align-self: flex-end;
    text-align: right;
    margin-left: auto; /* Przesunięcie w prawo */
}

.chat-message.llm {
    background-color: #ffffff; /* Ciemniejsza zieleń */
    color: black;
    align-self: flex-start;
    text-align: left;
    margin-right: auto; /* Przesunięcie w lewo */
    border: 1px solid gray;
}
.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.loading-dots span {
    width: 0.6rem;
    height: 0.6rem;
    background-color: #494f55;
    border-radius: 50%;
    animation: bounce 1.2s infinite ease-in-out;
}

.loading-dots span:nth-child(1) {
    animation-delay: 0s;
}

.loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-0.5rem);
    }
}
