.template-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkowanie poziome */
    justify-content: flex-start; /* Elementy zaczynają się od góry */
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Umożliwia przewijanie */
}

.template {
    position: relative; /* Zamiast fixed */
    margin: 20px auto; /* Wyśrodkowanie poziome i odstęp od góry */
    width: 90%; /* Zachowanie szerokości */
    max-width: 1400px; /* Maksymalna szerokość */
    background-color: #e1ffbc; /* Pastelowa zieleń */
    border-radius: 15px; /* Zaokrąglone rogi */
    padding: 20px; /* Dodanie odstępu wewnętrznego */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtelny cień */
}

.template-header {
    background-color: #66bb6a; /* Średnia zieleń */
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.template-logo {
    height: 70px;
    width: auto;
    margin-right: 20px;
}

.template-button {
    padding: 15px 25px;
    font-size: 16px;
    background-color: #66bb6a; /* Średnia zieleń */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    display: inline-block;
}

.logout-button {
    padding: 15px 25px;
    font-size: 16px;
    background-color: white;
    color: #66bb6a; /* Średnia zieleń */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.template-button:hover {
    background-color: #388e3c; /* Ciemniejsza zieleń */
}

.logout-button:hover {
    background-color: #c8e6c9; /* Jasnozielony odcień */
}
.template-main {
    margin-top: 20px; /* Stała odległość od headera */
    padding: 20px;
}