.events-section {
    margin: 20px 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.events-section h3 {
    cursor: pointer;
    font-size: 18px;
    color: #007bff;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.events-section h3:hover {
    background-color: #e9ecef;
}

.toggle-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events-section .events-list {
    margin-top: 10px;
}
