/* --- Paginacja --- */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 20px;
}

.page-button {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.page-button:hover {
    background-color: #f1f1f1;
}

.page-button.active {
    background-color: #66bb6a; /* Zielona aktywna strona */
    color: white;
}

.page-button:disabled {
    cursor: not-allowed;
    background-color: #ddd;
}
